In [135]:
import pandas as pd
import numpy as np

In [136]:
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  사회        SW특기
지원번호
1번    강나래  구로고  197   90   85  100  85      Python
2번    강태원  구로고  184   40   35   50  25        Java
3번    강호림  가산고  168   80   75   70  75  Javascript
4번    김수찬  구로고  187   40   60   70  80         NaN
5번    김재욱  가산고  188   15   20   10  10         NaN
6번    박동현  가산고  202   80  100   95  80           C
7번    박혜정  구로고  188   55   65   45  35      PYTHON
8번    승근열  구로고  190  100   85   90  95          C#

In [137]:
df = pd.read_excel('연령별인구현황01.xlsx', index_col='행정기관', skiprows=3, nrows=1, usecols='B,E:Y')
df.index
## 빈공백 제거
df.index[0].strip()
## index 1번째 row 데이터를 출력
df.loc[df.index[0]] # df.loc['전국  ']

## index 이름을 변경
df.rename(index={df.index[0]: df.index[0].strip()}, inplace=True)
df.index

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['전국'], dtype='object', name='행정기관')

In [138]:
df.loc['전국']

0~4세         726,460
5~9세       1,072,653
10~14세     1,211,077
15~19세     1,211,949
20~24세     1,524,378
25~29세     1,823,908
30~34세     1,737,714
35~39세     1,684,266
40~44세     2,055,130
45~49세     2,039,606
50~54세     2,303,096
55~59세     2,052,227
60~64세     2,097,254
65~69세     1,554,976
70~74세     1,038,388
75~79세       713,448
80~84세       507,915
85~89세       212,726
90~94세        54,180
95~99세         8,880
100세 이상        1,307
Name: 전국, dtype: object

In [139]:
df['전국'] = df.loc['전국'].str.replace(',', '').astype(int)

In [140]:
df['전국'].min()
df['전국'].max()

np.float64(nan)

In [141]:
### 이름 변경
### 출생아 수. 최대값, 최소값을 출력하시오.
### 축을 변경하시오.

df = pd.read_excel('출산율2.xlsx', skiprows=2, nrows=2, index_col=0)
df.index.name = '목록'
df

df.rename(index=dict(zip(df.index.values, [v.replace('\xa0', ' ') for v in df.index.values])), inplace=True)
df.loc['출생아 수'].min()
df.loc['출생아 수'].max()

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

np.float64(438.4)

In [142]:
df = df.T
df

목록    출생아 수  합계 출산율
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052
2018  326.8   0.977
2019  302.7   0.918
2020  272.3   0.837
2021  260.6   0.808
2022  249.1   0.780
2023  230.0   0.720

In [145]:
df['출생아 수'].min()
df['출생아 수'].max()

np.float64(438.4)