In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('chipotle.tsv', sep='\t')
df.tail(2)

,order_id,quantity,item_name,choice_description,item_price
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [19]:
### 메뉴별 주문 수량을 출력하시오.
df.groupby('item_name')['quantity'].count()

### 메뉴별 총 주문량을 출력하시오.
df.groupby('item_name')['quantity'].sum()

### 아이템별 가격 금액을 출력하시오.
df.groupby('item_name')['item_price'].min()

### 주문별, 높은 가격순으로 주문 개수를 출력하시오.
df.groupby('order_id')['quantity'].count()

## 주문당 평균 계산 금액을 출력하시오.
df.groupby('order_id')['item_price'].apply(lambda x:x.str[1:]).astype(float)

order_id
1         0        2.39
          1        3.39
          2        3.39
          3        2.39
2         4       16.98
                  ...
1833      4617    11.75
          4618    11.75
1834      4619    11.25
          4620     8.75
          4621     8.75
Name: item_price, Length: 4622, dtype: float64